// BASIC ELEMENTS
// --------------------------------------------------------------------
// Unstyled list
%plain-list {
    list-style: none;
    padding-left: 0;
}

// inline-block with IE7 legacy support, also see mixins/_basic.scss
%inblock-level {
    display: inline-block;

    @if $ie7-support {
        .lt-ie8 & {
            display: inline;
            zoom: 1;
        }
    }
}


// RESPONSIVE MEDIA OBJECTS
// --------------------------------------------------------------------
// unstoppablerobotninja.com/entry/fluid-images
%responsive-media {
    height: auto;
    max-width: 100%;
}
