// PROJECT-SPECIFIC SETTINGS
// --------------------------------------------------------------------
$use-extra-classes: false;  // Helper classes
$use-cms-classes:   false;  // Image positioning
$use-svg-sprites:   true;   // SVG sprites

$use-float-grid:    false;  // Float-based grid
$use-flex-grid:     false;  // Flexbox grid
$use-css-grid:      false;  // Native CSS grids

$use-form-styles:   false;  // Basic forms
$use-form-advanced: false;  // Advanced forms

$use-msg-basic:     false;  // Basic messages
$use-msg-extra:     false;  // Advanced messages
