// PROJECT-SPECIFIC SETTINGS
// --------------------------------------------------------------------
$use-extra-classes: false;  // Helper classes

$use-rnav-classes:  true;   // responsive-nav.js
$use-svg-sprites:   true;   // SVG sprites

$use-cms-classes:   false;  // Image positioning
$use-enable-js:     false;  // Enable JS

$use-form-styles:   false;  // Basic forms
$use-form-advanced: false;  // Advanced forms

$use-msg-basic:     false;  // Basic messages
$use-msg-extra:     false;  // Advanced messages


// DEPENDENCIES – *DON'T* EDIT!
// --------------------------------------------------------------------
// Advanced form support requires basic form support
@if $use-form-advanced {
    $use-form-styles: true;
}