{
    "rules": {
        "block-no-empty": true,
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-no-invalid-hex": true,
        "comment-whitespace-inside": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-properties-order": "alphabetical",
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-trailing-semicolon": "always",
        "font-family-name-quotes": "single-where-recommended",
        "font-weight-notation": "named-where-possible",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-url-quotes": "single",
        "max-empty-lines": 2,
        "max-nesting-depth": 4,
        "media-feature-colon-space-after": "always",
        "media-query-parentheses-space-inside": "never",
        "no-eol-whitespace": true,
        "no-unknown-animations": true,
        "number-leading-zero": "never",
        "number-max-precision": 5,
        "number-no-trailing-zeros": true,
        "number-zero-length-no-unit": true,
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-max-specificity": "1,2,2",
        "selector-pseudo-element-colon-notation": "single",
        "string-no-newline": true,
        "string-quotes": "single",
        "time-no-imperceptible": true,
    }
}
