// DEFAULTS NOT COVERED BY NORMALIZE
// --------------------------------------------------------------------
// These selection declarations have to be separate.
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// Chrome frame prompt
.chromeframe {
    margin: 0;
    background: $mid-grey;
    color: $off-black;
    @include x-rem(padding, 0.25);
    text-align: center;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

caption,
th {
    text-align: left;
}

// Nested lists
li {
    ul,
    ol {
        margin: 0;
    }
}

// Nested code
pre code {
    font-size: 1em;
}

// A better looking default horizontal rule
hr {
    border: 0;
    border-top: 1px solid $mid-grey;
    display: block;
    height: 1px;
    @include x-rem(margin, 1.5 0);
    padding: 0;
}

// Remove the gap between images and the bottom of their containers
img {
    vertical-align: middle;
}
