// DEFAULTS (NOT COVERED BY NORMALIZE)
// --------------------------------------------------------------------
// These selection declarations have to be separate.
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// Chrome frame prompt
.chromeframe {
    margin: 0;
    background: $mid-grey;
    color: $off-black;
    padding: 0.25em;
    text-align: center;
}

// Navigation lists
nav ul,
nav ol {
    list-style: none;
    padding: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

caption,
th {
    text-align: left;
}

// Nested lists
li {
    ul,
    ol {
        margin: 0;
    }
}

// Nested code
pre code {
    font-size: 1em;
}

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mid-grey;
    margin: 1.5em 0;
    padding: 0;
}

// Remove the gap between images and the bottom of their containers
img {
    vertical-align: middle;
}


// RESPONSIVE MEDIA OBJECTS
// http://unstoppablerobotninja.com/entry/fluid-images
// --------------------------------------------------------------------
// embed, object,
// audio, video,
img {
    max-width: 100%;
}

// video,
img {
    height: auto;
}


// FORMS
// --------------------------------------------------------------------
// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
