// SETTINGS
// --------------------------------------------------------------------
$legacy-support-for-ie6: false;
$experimental-support-for-khtml: false;

// IE7
$ie7-support: false;

// IE10
@-ms-viewport { width: device-width; }

// USE COMPASS
// --------------------------------------------------------------------
@import "compass";


// FALLBACK FONT STACKS
// --------------------------------------------------------------------
$serif: Cambria, Georgia, Times, serif;
$sans:  'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono:  Consolas, 'Courier New', Courier, monospace;


// STANDARD COLORS
// --------------------------------------------------------------------
$white:     #fff;
$black:     #000;
$off-white: #fcfcfc;
$off-black: #222;
