// BASIC MIXINS
// --------------------------------------------------------------------
// Horizontal centering
@mixin center-horizontal($center-width) {
    margin-left: auto;
    margin-right: auto;
    width: $center-width;
}

// Vertical centering
// zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
// parent element needs a defined height; use w/ .csstransforms
@mixin center-vertical() {
    position: relative;
    top: 50%;
    @include x-transform(translateY(-50%));
}


// CSS3 MIXINS
// --------------------------------------------------------------------
// github.com/drublic/Sass-Mixins/blob/master/partials/_box-sizing.scss
@mixin x-box-sizing($value: border-box) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

// developer.mozilla.org/en-US/docs/Web/CSS/hyphens
@mixin x-hyphens($value) {
    -webkit-hyphens: $value;
    -moz-hyphens: $value;
    -ms-hyphens: $value;
    hyphens: $value;
}

// github.com/drublic/Sass-Mixins/blob/master/partials/_linear-gradient.scss
@mixin x-linear-gradient ($from: #ccc, $to: #aaa, $direction: "to bottom", $fallback: $from) {
    $directions: helper-gradient-angle($direction);
    // Provide a fallback-color
    background-color: $fallback;
    // Cross-browser linear-gradients
    background-image: -webkit-gradient(linear, unquote(nth($directions, 2)), from($from), to($to)); // Android 2.1-3.0
    background-image: -webkit-linear-gradient(unquote(nth($directions, 1)), $from, $to);
    background-image: linear-gradient(unquote($direction), $from, $to);
}

// github.com/drublic/Sass-Mixins/blob/master/partials/_transform.scss
@mixin x-transform ($values) {
    -webkit-transform: $values;
    -ms-transform: $values;
    transform: $values;
}

// github.com/drublic/Sass-Mixins/blob/master/partials/_transition.scss
@mixin x-transition ($values) {
    -webkit-transition: $values;
    transition: $values;
}
