// BUTTON TYPES
// --------------------------------------------------------------------
// Gradient button
@mixin gradient-button($bg-color: $silver, $fg-color: $black, $radius: 4px) {
    background-color: lighten($bg-color, 13.2%);
    background-image: linear-gradient(to bottom, lighten($bg-color, 13.2%), $bg-color);
    background-clip: padding-box;
    border: 1px solid;
    border-color: $bg-color darken($bg-color, 13.2%) darken($bg-color, 26.5%);
    border-radius: $radius;
    color: $fg-color;
    display: inline-block;
    line-height: normal;
    outline: 0;
    @include x-rem(padding, .1875 .625);
    text-align: center;
    text-decoration: none;
    text-shadow: invert($fg-color) 0 1px 1px;
    width: auto;

    &:hover {
        background-color: lighten($bg-color, 13.2%);
        background-image: linear-gradient(to bottom, lighten($bg-color, 13.2%), darken($bg-color, 6.5%));
    }

    &:active {
        background-color: lighten($bg-color, 13.2%);
        background-image: linear-gradient(to bottom, lighten($bg-color, 13.2%), darken($bg-color, 6.5%));
        border-color: darken($bg-color, 26.5%) darken($bg-color, 13.2%) $bg-color;
        box-shadow: inset rgba($black, .25) 0 1px 2px 0;
    }

    &:focus {
        box-shadow: #06f 0 0 5px 0;
        z-index: 1;
    }

    &:active,
    &:visited,
    &:hover,
    &:focus {
        color: $fg-color;
    }
}

// Flat button
@mixin flat-button($bg-color: $silver, $fg-color: $black, $radius: 4px, $alt-color: complement($bg-color)) {
    background: $bg-color;
    background-clip: padding-box;
    border: 0 none;
    border-radius: $radius;
    color: $fg-color;
    display: inline-block;
    line-height: normal;
    outline: 0;
    @include x-rem(padding, .1875 .625);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: auto;

    &:hover,
    &:focus {
        background: $alt-color;
    }

    &:active {
        background-color: lighten($bg-color, 13.2%);
        background-image: linear-gradient(to bottom, lighten($bg-color, 13.2%), darken($bg-color, 6.5%));
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
        z-index: auto;
    }

    &:active,
    &:visited,
    &:hover,
    &:focus {
        color: $fg-color;
    }
}
