// BUTTON TYPES
// --------------------------------------------------------------------
// Gradient button
@mixin gradient-button($bg: $alt-grey, $fg: $black, $rad: 4px) {
    @include x-linear-gradient(lighten($bg, 13.2%), $bg);
    background-clip: padding-box;
    border: 1px solid;
    border-color: $bg darken($bg, 13.2%) darken($bg, 26.5%);
    border-radius: $rad;
    color: $fg;
    display: inline-block;
    line-height: normal;
    outline: 0;
    @include x-rem(padding, 0.1875 0.625);
    text-align: center;
    text-decoration: none;
    text-shadow: invert($fg) 0 1px 1px;
    width: auto;

    @if $ie7-support {
        *padding-top: 2px;
        *padding-bottom: 0;
    }

    &:hover {
        @include x-linear-gradient(lighten($bg, 13.2%), darken($bg, 6.5%));
    }

    &:active {
        @include x-linear-gradient(lighten($bg, 13.2%), lighten($bg, 6.5%));
        box-shadow: inset rgba($black, 0.25) 0 1px 2px 0;
        border-color: darken($bg, 26.5%) darken($bg, 13.2%) $bg;
    }

    &:focus {
        box-shadow: #06f 0 0 5px 0;
        z-index: 1;
    }

    &:active,
    &:visited,
    &:hover,
    &:focus {
        color: $fg;
    }
}
