// FIGURES
// --------------------------------------------------------------------
// Simple figure
@mixin simple-figure($border: $dark-grey, $rhythm: 1em) {
    margin: $rhythm 0;

    img {
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
    }

    figcaption {
        text-align: center;
    }
}

// Fancy figure
@mixin fancy-figure($rhythm: 1em) {
    margin: $rhythm 0;
    position: relative;

    img {
        @include box-shadow(0 0 4px rgba($black,.7));
    }

    .no-boxshadow & img {
        border: 1px solid $dark-grey;
    }

    figcaption {
        background: $off-black;
        background: rgba($black,.7);
        color: $white;
        padding: 2px 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        @include box-sizing(border-box);
    }
}
