// RESPONSIVE INLINE SVG IMAGES
// --------------------------------------------------------------------
// tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
// apply to container element; remove width/height from svg
@mixin responsive-svg($svg-width, $svg-height, $container-width: 100%) {
    height: 0;
    padding-top: ($svg-height/$svg-width) * $container-width;
    position: relative;
    width: $container-width;

    > svg {
        left: 0;
        position: absolute;
        top: 0;
    }
}


// FIGURES
// --------------------------------------------------------------------
// Simple figure
@mixin simple-figure($border-color: $grey, $rhythm: $type-rhythm) {
    @include x-rem(margin, $rhythm 0);

    img {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }

    figcaption {
        text-align: center;
    }
}

// Fancy figure
@mixin fancy-figure($rhythm: $type-rhythm) {
    @include x-rem(margin, $rhythm 0);
    position: relative;

    img {
        box-shadow: 0 0 4px rgba($black, .7);
    }

    .no-boxshadow & img {
        border: 1px solid $grey;
    }

    figcaption {
        background: $off-black;
        background: rgba($black, .7);
        box-sizing: border-box;
        bottom: 0;
        color: $white;
        left: 0;
        @include x-rem(padding, .125 .625);
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
