// RESPONSIVE MEDIA OBJECTS
// unstoppablerobotninja.com/entry/fluid-images
// --------------------------------------------------------------------
@mixin responsive-media {
    height: auto;
    max-width: 100%;
}


// FIGURES
// --------------------------------------------------------------------
// Simple figure
@mixin simple-figure($border-color: $grey, $rhythm: 1) {
    @include x-rem(margin, $rhythm 0);

    img {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }

    figcaption {
        text-align: center;
    }
}

// Fancy figure
@mixin fancy-figure($rhythm: 1) {
    @include x-rem(margin, $rhythm 0);
    position: relative;

    img {
        box-shadow: 0 0 4px rgba($black, .7);
    }

    .no-boxshadow & img {
        border: 1px solid $grey;
    }

    figcaption {
        background: $off-black;
        background: rgba($black, .7);
        box-sizing: border-box;
        bottom: 0;
        color: $white;
        left: 0;
        @include x-rem(padding, .125 .625);
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
