// TABLES
// --------------------------------------------------------------------
// Simple table
@mixin simple-table($border: $grey) {
    border-bottom: 1px solid $border;

    tr {
        border-top: 1px solid $border;
    }
}

// Striped table
@mixin striped-table($border: $grey, $odd: $lite-grey, $even: $silver, $head: $silver, $foot: $head) {
    border: 1px solid $border;
    border-top: 0 none;

    thead {
        background-color: $head;
    }

    tfoot {
        background-color: $foot;
    }

    tbody tr {
        &:nth-child(odd) {
            background-color: $odd;
        }

        &:nth-child(even) {
            background-color: $even;
        }
    }

    tr {
        border-top: 1px solid $border;
    }

    th,
    td {
        @include x-rem(padding, 0 .25);
    }
}
