    <a id="open-nav" class="nav-toggle" href="#site-nav"><span class="icon-menu" aria-hidden="true"><span class="fallback-text">Navigation</span></a>

    <nav id="site-nav" class="nav-collapse">
        <ul>
            {{#each pages}}<li><a href="{{ this.dest }}">{{ data.title }}</a></li>
            {{/each}}
        </ul>
    </nav>