    <a id="open-nav" class="nav-toggle" href="#site-nav"><svg class="icon-menu" role="img" title="Navigation" viewbox="0 0 2048 2048" width="2048" height="2048"><use xlink:href="img/sprite.svg#bars"></use></svg><span class="svg-fallback">Navigation</span></a>

    <nav id="site-nav" class="nav-collapse">
        <ul>
            <li><a href="index.html">Start</a></li>
        </ul>
    </nav>