{{> doctype }}
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {{> head}}
</head>
<body>
{{> body }}
{{> oldie }}
{{> scripts }}
</body>
</html>
