// BREAKPOINTS
// --------------------------------------------------------------------
$sm:            30em !default; //  480px
$md:            48em !default; //  768px
$lg:            62em !default; //  992px
$xl:            75em !default; // 1200px
$xx:            90em !default; // 1440px


// COLORS clrs.cc
// --------------------------------------------------------------------
// Cool
$aqua:          #7fdbff;
$blue:          #0074d9;
$navy:          #001f3f;
$teal:          #39cccc;
$green:         #2ecc40;
$olive:         #3d9970;
$lime:          #01ff70;

// Warm
$yellow:        #ffdc00;
$orange:        #ff851b;
$red:           #ff4136;
$fuchsia:       #f012be;
$purple:        #b10dc9;
$maroon:        #85144b;

// Gray Scale
$white:         #fff;
$silver:        #ddd;
$grey:          #aaa;
$black:         #111;

// Variations
$off-white:     #fcfcfc;
$lite-grey:     #eee;
$greyed-out:    #888;
$off-black:     #222;
