// EXTENDS FOR OLDIE
// --------------------------------------------------------------------
// Margins for images
$ie-left-margin:   4px 16px 8px 0 !default;
$ie-right-margin:  4px 0 8px 16px !default;


@import '../legacy';
@import '../tablet';
@import '../laptop';


%oldie-image-left {
    float: left;
    margin: $ie-left-margin;
}

%oldie-image-right {
    float: right;
    margin: $ie-right-margin;
}


// FIXES FOR IE8
// --------------------------------------------------------------------
@if $ie8-support {
    @if $use-pw-classes {
        .lt-ie9 {
            // For use with ProcessWire
            .align_left {
                @extend %oldie-image-left;
            }

            .align_right {
                @extend %oldie-image-right;
            }
        }
    }

    @if $use-rnav-classes {
        .js .nav-collapse {
            clip: auto;
            height: auto;
            margin: 0;
            max-height: none;
            overflow: visible;
            position: relative;
            width: auto;

            &.closed {
                max-height: none;
            }
        }

        .nav-collapse {
            li {
                width: auto;
            }
        }

        .nav-toggle {
            display: none !important;
            visibility: hidden;
        }
    }
}
