// ACCORDION
// github.com/nico3333fr/jquery-accessible-accordion-aria
// --------------------------------------------------------------------
//
// Defaults
$suffix-panel:      panel !default;
$suffix-header:     header !default;


@mixin accordion {
    &-#{$suffix-panel}[aria-hidden='true'] {
        display: none;
    }

    &-#{$suffix-header} {
        display: block;

        &[aria-expanded='true']::before {
            content: '- ';
        }

        &[aria-expanded='false']::before {
            content: '+ ';
        }
    }
}
