// TABS
// frend.co/components/accordion/
// --------------------------------------------------------------------
@mixin accordion {
    [aria-hidden='true'] {
        height: 0;
        visibility: hidden;
    }

    [aria-hidden='false'] {
        visibility: visible;
    }
}

@mixin accordion-header {
    .js & {
        cursor: pointer;
    }
}

@mixin accordion-panel {
    .js & {
        overflow: hidden;
    }
}
