// FIGURES
// --------------------------------------------------------------------
@mixin simple-figure($border-color: $grey, $rhythm: $type-rhythm) {
    margin: $rhythm 0;

    img {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }

    figcaption {
        text-align: center;
    }
}

@mixin fancy-figure($rhythm: $type-rhythm) {
    margin: $rhythm 0;
    position: relative;

    img {
        box-shadow: 0 0 4px rgba($black, 0.7);
    }

    figcaption {
        background: rgba($black, 0.7);
        bottom: 0;
        color: $white;
        left: 0;
        padding: 0.125rem 0.625rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
