// NATIVE CSS GRID SYSTEM
// --------------------------------------------------------------------
@mixin css-grid-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}

@mixin css-grid-row($columns: $grid-columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-column-gap: ($grid-gutter-width / 2);
}

@mixin css-grid-column($columns) {
    grid-column: span $columns;
}
