// RESPONSIVE IMAGES
// --------------------------------------------------------------------
// unstoppablerobotninja.com/entry/fluid-images
@mixin responsive-media {
    height: auto;
    max-width: 100%;
}


// RESPONSIVE INLINE SVG IMAGES
// --------------------------------------------------------------------
// tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
// apply to container element; remove width/height from svg
@mixin responsive-svg($svg-width, $svg-height, $container-width: 100%) {
    height: 0;
    padding-top: ($svg-height/$svg-width) * $container-width;
    position: relative;
    width: $container-width;

    > svg {
        left: 0;
        position: absolute;
        top: 0;
    }
}


// HDPI BACKGROUND IMAGES
// --------------------------------------------------------------------
// Defaults
$hdpi:          'print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi)' !default;
$hdpi-suffix:   '-2x';
$img-path:      '../img/';


@mixin hdpi-img($imgname, $imgwidth, $imgheight, $imgsize: contain, $imgtype: 'png', $path: $img-path) {
    background: url('#{$path}#{$imgname}.#{$imgtype}') 0 0 no-repeat;
    background-size: $imgsize;
    height: $imgheight;
    width: $imgwidth;

    @media #{$hdpi} {
        background-image: url('#{$path}#{$imgname}#{$hdpi-suffix}.#{$imgtype}');
    }
}

@mixin hdpi-svg($imgname, $imgwidth, $imgheight, $imgsize: contain, $imgtype: 'png', $path: $img-path) {
    background: url('#{$path}#{$imgname}.svg') 0 0 no-repeat;
    background-size: $imgsize;
    height: $imgheight;
    width: $imgwidth;

    .no-svg & {
        background-image: url('#{$path}#{$imgname}.#{$imgtype}');

        @media #{$hdpi} {
            background-image: url('#{$path}#{$imgname}#{$hdpi-suffix}.#{$imgtype}');
        }
    }
}