// MODAL
// --------------------------------------------------------------------
$modal-class-toggle: is-active !default;
$modal-class-inner: modal-container !default;

@mixin modal() {
    background-color: rgba($black, 0.8);
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.25s ease-out;
    visibility: hidden;
    z-index: 10;

    .#{$modal-class-inner} {
        background-color: $off-white;
        margin: auto;
        max-width: 30rem;
        padding: 1rem;
        transform: translateY(-1rem) scale(0.95);
        transition: transform 0.25s ease-out;
        width: 100%;
    }

    &.#{$modal-class-toggle} {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        .#{$modal-class-inner} {
            transform: translateY(0) scale(1);
        }
    }
}
