// ADDITIONAL STYLES FOR MAGNIFIC POPUP
// github.com/dimsemenov/Magnific-Popup
// --------------------------------------------------------------------
// Defaults
$modal-width:   40rem !default;
$modal-padding: 1rem 2rem !default;


@mixin modal-overlay($background-color: $off-white, $max-width: $modal-width, $rem-padding: $modal-padding) {
    background: $background-color;
    margin: 0 auto;
    max-width: $max-width;
    padding: $rem-padding;
    position: relative;
    width: auto;
}
