// TABS
// --------------------------------------------------------------------
$tab-padding:   0.5rem !default;

@mixin tabs($suffix-toggle: toggle, $suffix-panel:  panel) {
    margin: $type-rhythm 0;

    &-#{$suffix-toggle} {
        border: 0;
        padding: ($tab-padding / 2) $tab-padding;
    }

    &-#{$suffix-panel} {
        display: none;
        padding: $tab-padding;
        z-index: 1;

        &.is-active {
            display: block;
        }
    }
}
