// TABLES
// --------------------------------------------------------------------
// Defaults
$tables-breakpoint: $md !default; // Breakpoint for responsive tables


// Simple table
@mixin simple-table($border-color: $grey) {
    border-bottom: 1px solid $border-color;

    tr {
        border-top: 1px solid $border-color;
    }
}

// Striped table
@mixin striped-table($border-color: $grey, $odd-color: $lite-grey, $even-color: $silver, $head-color: $silver, $foot-color: $head-color) {
    border: 1px solid $border-color;
    border-top: 0 none;

    thead {
        background-color: $head-color;
    }

    tfoot {
        background-color: $foot-color;
    }

    tbody tr {
        &:nth-child(odd) {
            background-color: $odd-color;
        }

        &:nth-child(even) {
            background-color: $even-color;
        }
    }

    tr {
        border-top: 1px solid $border-color;
    }

    th,
    td {
        padding: 0 .25rem;
    }
}

// Responsive table
//
// Note: mixin needs to be applied to a div containing the table
@mixin responsive-table() {
    min-height: .01%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    th,
    td {
        white-space: nowrap;
    }

    @media only screen and (min-width: $tables-breakpoint) {
        overflow-y: auto;

        th,
        td {
            white-space: normal;
        }
    }
}
