// SELF-HOSTED WEBFONTS
// --------------------------------------------------------------------
$font-path: '../fonts/' !default;

@mixin webfont(
    $family,
    $src,
    $style: normal,
    $weight: normal,
    $path: $font-path
) {
    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        src: url('#{$path}#{$src}.woff2') format('woff2'),
            url('#{$path}#{$src}.woff') format('woff'),
            url('#{$path}#{$src}.ttf') format('truetype');
    }
}

@mixin legacy-webfont(
    $family,
    $src,
    $style: normal,
    $weight: normal,
    $path: $font-path
) {
    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        // IE9 compat
        src: url('#{$path}#{$src}.eot');
        src: url('#{$path}#{$src}.eot?#iefix') format('embedded-opentype'),
            url('#{$path}#{$src}.woff2') format('woff2'),
            url('#{$path}#{$src}.woff') format('woff'),
            url('#{$path}#{$src}.ttf') format('truetype'),
            url('#{$path}#{$src}.svg##{$family}') format('svg');
    }
}
