// ELEMENT STYLES NOT COVERED BY NORMALIZE
// --------------------------------------------------------------------
$selection-bg:      #b3d4fc !default;
$primary-font:      $default-sans !default;

@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: $selection-bg;
    text-shadow: none;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $type-rhythm 0;
    width: 100%;
}

caption,
th {
    text-align: left;
}

li {
    ul,
    ol {
        margin: 0;
    }
}

hr {
    border: 0;
    border-top: 1px solid $silver;
    display: block;
    height: 1px;
    margin: $type-rhythm 0;
    padding: 0;
}

summary,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
}

// Remove the gap between media and the bottom of their containers
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// Navigation
nav ul,
nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

// BASIC TYPOGRAPHY
// --------------------------------------------------------------------
body {
    line-height: $type-height;
}

@each $heading, $factor in $type-headings {
    #{$heading} {
        font-size: $factor * 1em;
        margin: $type-rhythm 0;
    }
}

pre {
    font-size: 0.875rem;
}

code,
samp,
kbd {
    font-size: 0.875em;

    pre & {
        font-size: 1em;
    }
}

// html5doctor.com/blockquote-q-cite/
q {
    quotes: '“' '”' '‘' '’';
}

:lang(de) q {
    quotes: '„' '“' '‚' '‘';
}

p {
    hyphens: auto;

    // not for preformatted text (inline)
    code,
    samp,
    kbd {
        hyphens: none;
    }
}
