// FORM ELEMENTS
// --------------------------------------------------------------------
$input-bg: $off-white !default;
$input-fg: $off-black !default;
$input-focus: #06f !default;
$input-placeholder: $greyed-out !default;
$input-border-radius: 0 !default;
$input-border-type: 1px solid !default;
$input-border-color: #c1c1c1 #c1c1c1 #e1e1e1 !default;
$standard-buttons: true !default;

@if $use-form-styles {
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    ::-webkit-input-placeholder {
        color: $input-placeholder;
    }

    // Separate rule for Firefox. Cannot stack with WebKit's.
    ::-moz-placeholder {
        color: $input-placeholder;
    }

    // Separate rule for IE, too. Cannot stack with WebKit's.
    :-ms-input-placeholder {
        color: $input-placeholder;
    }

    :invalid {
        // Suppress red glow that Firefox adds to form fields
        // by default, even when user is still typing.
        box-shadow: none;
    }

    @if $use-form-advanced {
        optgroup {
            background: $input-bg;
            color: $input-fg;
            font-style: normal;
        }
    }

    // Borrowed heavily from formalize.me
    %input-elements {
        -webkit-appearance: none;
        background-clip: padding-box;
        background-color: $input-bg;
        border: $input-border-type;
        border-color: $input-border-color;
        border-radius: $input-border-radius;
        color: $input-fg;
        height: 1.8em;
        outline: 0;
        padding: 2px 3px;
        text-align: left;

        &[disabled] {
            background-color: $lite-grey;
        }
    }

    @if $use-form-advanced {
        input[type='date'],
        input[type='datetime'],
        input[type='datetime-local'],
        input[type='month'],
        input[type='number'],
        input[type='password'],
        input[type='time'],
        input[type='week'],
        input[type='tel'],
        input[type='url'] {
            @extend %input-elements;
        }
    }

    input[type='email'],
    input[type='search'],
    input[type='text'],
    select,
    textarea {
        @extend %input-elements;
    }

    select[size],
    select[multiple],
    textarea {
        height: auto;
    }

    textarea {
        min-height: 40px;
        overflow: auto;
        resize: vertical;
        width: 100%;
    }

    button,
    select,
    textarea,
    input {
        &:focus {
            box-shadow: 0 0 5px 0 $input-focus;
            z-index: 1; // Opera
        }
    }

    input[type='file'],
    input[type='radio'],
    input[type='checkbox'] {
        &:focus,
        &:active {
            box-shadow: none;
        }
    }

    // WebKit select appearance
    @media (-webkit-min-device-pixel-ratio: 0) {
        select {
            background-image: url('data:image/gif;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==');
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 20px;
        }

        select[size],
        select[multiple] {
            background-image: none;
            padding: 0;
        }
    }

    // Form buttons
    @if $standard-buttons {
        button,
        input[type='button'],
        input[type='reset'],
        input[type='submit'] {
            @include gradient-button;
        }
    }

    // Disabled form elements
    @if $use-form-advanced {
        button[disabled],
        select[disabled],
        select[disabled] option,
        select[disabled] optgroup,
        textarea[disabled],
        input[disabled] {
            box-shadow: none;
            color: $greyed-out;
            cursor: default;
            user-select: none;
        }
    }
}
