// IMAGES
// --------------------------------------------------------------------
// Defaults
$img-margin:        $type-rhythm 0 !default;   // Margins for images


// Responsive media
video,
img {
    @include responsive-media;
}

// Figures
figure {
    display: block;
    margin: $img-margin;
}
