// IMAGES
// --------------------------------------------------------------------
$img-margin: $type-rhythm 0 !default;

video,
img {
    @include responsive-media;
}

figure {
    display: inline-block;
    margin: $img-margin;
}
