// MESSAGES
// --------------------------------------------------------------------
// Defaults
$warning-bg:        #f2dede !default;
$warning-bc:        #eed3d7 !default;
$warning-fg:        #b94a2b !default;
$success-bg:        #dff0d8 !default;
$success-bc:        #d6e9c6 !default;
$success-fg:        #468847 !default;
$notice-bg:         #d9edf7 !default;
$notice-bc:         #bce8f1 !default;
$notice-fg:         #3a87ad !default;
$question-bg:       #fcf8e3 !default;
$question-bc:       #fbeed5 !default;
$question-fg:       #c09853 !default;
$msg-font-size:     .8125rem !default;
$msg-padding:       .5rem !default;

$msg-class-prefix:  msg- !default;
$msg-class-warning: warning !default;
$msg-class-success: success !default;
$msg-class-notice:  notice !default;
$msg-class-question:question !default;

// Basic message
// --------------------------------------------------------------------
%message {
    border: 1px solid;
    border-radius: 4px;
    font-size: $msg-font-size;
    margin: $type-rhythm 0;
    padding: $msg-padding;

    p {
        margin: 0;
    }
}


// Types of messages
// --------------------------------------------------------------------
@if $use-msg-basic {
    .#{$msg-class-prefix}#{$msg-class-warning} {
        @extend %message;

        background: $warning-bg;
        border-color: $warning-bc;
        color: $warning-fg;
    }

    .#{$msg-class-prefix}#{$msg-class-success} {
        @extend %message;

        background: $success-bg;
        border-color: $success-bc;
        color: $success-fg;
    }
}

@if $use-msg-extra {
    .#{$msg-class-prefix}#{$msg-class-notice} {
        @extend %message;

        background: $notice-bg;
        border-color: $notice-bc;
        color: $notice-fg;
    }

    .#{$msg-class-prefix}#{$msg-class-question} {
        @extend %message;

        background: $question-bg;
        border-color: $question-bc;
        color: $question-fg;
    }
}
