// NAVIGATION STYLES
// --------------------------------------------------------------------
// Defaults
$nav-breakpoint:    $md !default; // Breakpoint for smallscreen nav
$webkit-tap-color:  rgba(0, 0, 0, 0) !default;


// General nav styles
// --------------------------------------------------------------------
nav ul,
nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


// RESPONSIVE NAV
// --------------------------------------------------------------------
// github.com/viljamis/responsive-nav.js
@if $use-rnav-classes {
    .nav-collapse {
        ul,
        li {
            display: block;
            width: 100%;
        }

        .js & {
            clip: rect(0 0 0 0);
            display: block;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            zoom: 1;
        }

        &.opened {
            max-height: 9999px;
        }

        @media screen and (min-width: $nav-breakpoint) {
            .js & {
                clip: auto;
                height: auto;
                margin: 0;
                max-height: none;
                overflow: visible;
                position: relative;
                width: auto;
            }

            li {
                width: auto;
            }
        }
    }

    .disable-pointer-events {
        pointer-events: none !important;
    }

    .nav-toggle {
        // Responsive nav icon fallback
        @if not($use-svg-sprites) {
            @include icon-hamburger;
        }

        -webkit-tap-highlight-color: $webkit-tap-color;
        user-select: none;

        @media screen and (min-width: $nav-breakpoint) {
            display: none !important;
            visibility: hidden;
        }
    }
}
