// DESKTOP STYLES
// --------------------------------------------------------------------
// TYPOGRAPHY
// Ideal line length: 830px
// --------------------------------------------------------------------
body { font-size: px-to-em(18px,16px); }
