// TYPOGRAPHY
// --------------------------------------------------------------------
// Base font size:     16px
// Ideal line length: 686px
html {
    font-size: 100%;
}


// RESPONSIVE FLOATED IMAGES
// --------------------------------------------------------------------
%image-left {
    float: left;
    @include x-rem(margin, 0.25 1 0.75 0);
}

%image-right {
    float: right;
    @include x-rem(margin, 0.25 0 0.75 1);
}

// For use with → processwire.com
// .align_left {
//     @extend %image-left;
// }

// .align_right {
//     @extend %image-right;
// }
