    <nav class="navbar">
        <a id="open-nav" class="nav-toggle" href="#site-nav"><span class="icon-menu"></span><span class="fallback-text">Zur Navigation</span></a>

        <div id="site-nav" class="nav-collapse">
            <ul>
                <li><a href="/index.html">Start</a></li>
            </ul>
        </div>
    </nav>