// BREAKPOINTS
// --------------------------------------------------------------------
$sm:            34em !default; //  544px
$md:            48em !default; //  768px
$lg:            62em !default; //  992px
$xl:            75em !default; // 1200px
$xx:           100em !default; // 1600px