// FONT STACKS
// --------------------------------------------------------------------
// bitsofco.de/the-new-system-font-stack/
$default-sans:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;

$default-serif: Georgia, Times, 'Times New Roman', serif !default;

$default-mono:  Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
