// GRID
// --------------------------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-container-float-md: 750px !default;
$grid-container-float-lg: 970px !default;
$grid-container-float-xl: 1170px !default;

$grid-container-flex-sm: 540px !default;
$grid-container-flex-md: 720px !default;
$grid-container-flex-lg: 960px !default;
$grid-container-flex-xl: 1140px !default;

$grid-container-sm: 540px !default;
$grid-container-md: 720px !default;
$grid-container-lg: 960px !default;
$grid-container-xl: 1140px !default;
