// TYPOGRAPHY
// --------------------------------------------------------------------
$type-height: 1.5 !default;
$type-rhythm: 1rem !default;

$type-headings: (
    h1: 2,
    h2: 1.5,
    h3: 1.25,
    h4: 1.125,
    h5: 1,
    h6: 1,
) !default;
