// COMMON STYLES FOR ALL MEDIA/RESOLUTIONS
// --------------------------------------------------------------------
.js #jshint {
	@extend .hidden;
}


// BASE
// --------------------------------------------------------------------
html,
button,
input,
select,
textarea {
    background-color: $off-white;
    color: $off-black;
}

body {
    line-height: 1.5;
}
