// EXTENDS/INCLUDES
// --------------------------------------------------------------------
.js #enable-js {
	@extend .hidden;
}

video,
img {
    @include responsive-media;
}


// COMMON STYLES FOR ALL MEDIA/RESOLUTIONS
// --------------------------------------------------------------------
html,
button,
input,
select,
textarea {
    background-color: $off-white;
    color: $off-black;
}

body {
    line-height: 1.5;
}
