// CUSTOMIZE
// --------------------------------------------------------------------
$legacy:   481px; //~30em
$tablet:   768px; // 48em
$laptop:  1024px; // 64em
$desktop: 1400px; // 87.5em

// MEDIA QUERIES
// --------------------------------------------------------------------
@media only screen and (min-width: $legacy)  { @import "../layout/legacy";  }
@media only screen and (min-width: $tablet)  { @import "../layout/tablet";  }
@media only screen and (min-width: $laptop)  { @import "../layout/laptop";  }
@media only screen and (min-width: $desktop) { @import "../layout/desktop"; }
