// DEFAULTS
// --------------------------------------------------------------------
$legacy:   481px !default;
$tablet:   768px !default;
$laptop:  1024px !default;
$desktop: 1400px !default;


// MEDIA QUERIES
// --------------------------------------------------------------------
@media only screen and (min-width: $legacy)  { @import '../layout/legacy';  }
@media only screen and (min-width: $tablet)  { @import '../layout/tablet';  }
@media only screen and (min-width: $laptop)  { @import '../layout/laptop';  }
@media only screen and (min-width: $desktop) { @import '../layout/desktop'; }
