// EXTENDS FOR OLDIE
// --------------------------------------------------------------------
// Margins for images
$ie-left-margin:   4px 16px 8px 0 !default;
$ie-right-margin:  4px 0 8px 16px !default;


%oldie-image-left {
    float: left;
    margin: $ie-left-margin;
}

%oldie-image-right {
    float: right;
    margin: $ie-right-margin;
}

%box-sizing-polyfill {
    behavior: url('/scripts/helpers/boxsizing.htc');
}


// FIXES FOR IE8
// --------------------------------------------------------------------
@if $ie8-support {
    .lt-ie9 {
        @if $pw-img-classes {
            // For use with ProcessWire
            .align_left {
                @extend %oldie-image-left;
            }

            .align_right {
                @extend %oldie-image-right;
            }
        }
    }
}


// FIXES FOR IE7
// --------------------------------------------------------------------
@if $ie7-support {
    .lt-ie8 {
        // Include clearfix class
        @if $clearfix-class {
            .clearfix {
                zoom: 1;
            }
        }

        // Include image replacement class
        @if $ir-class {
            .ir {
                text-indent: -9999px;
            }
        }

        // Forms
        input[type="radio"],
        input[type="checkbox"] {
            top: -5px;
        }

        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="number"],
        input[type="password"],
        input[type="time"],
        input[type="week"],
        textarea,
        select,
        input[type="email"],
        input[type="search"],
        input[type="tel"],
        input[type="text"],
        input[type="url"] {
            @extend %box-sizing-polyfill;

            height: auto;
            padding-bottom: 1px;
            padding-top: 2px;
        }

        button {
            padding-bottom: 1px;
            padding-top: 1px;
        }
    }
}
