// EXTENDS FOR OLDIE
// --------------------------------------------------------------------
// Margins for images
$ie-left-margin:   4px 16px 8px 0 !default;
$ie-right-margin:  4px 0 8px 16px !default;


%oldie-image-left {
    float: left;
    margin: $ie-left-margin;
}

%oldie-image-right {
    float: right;
    margin: $ie-right-margin;
}


// FIXES FOR IE8
// --------------------------------------------------------------------
@if $ie8-support {
    @if $use-pw-classes {
        .lt-ie9 {
            // For use with ProcessWire
            .align_left {
                @extend %oldie-image-left;
            }

            .align_right {
                @extend %oldie-image-right;
            }
        }
    }

    @if $use-rnav-classes {
        .js .nav-collapse {
            clip: auto;
            height: auto;
            margin: 0;
            max-height: none;
            overflow: visible;
            position: relative;
            width: auto;

            &.closed {
                max-height: none;
            }
        }

        .nav-collapse {
            li {
                width: auto;
            }
        }

        .nav-toggle {
            display: none !important;
            visibility: hidden;
        }
    }
}


// FIXES FOR IE7
// --------------------------------------------------------------------
@if $ie7-support {
    @if $use-form-styles {
        .lt-ie8 {
            // Forms
            input[type="radio"],
            input[type="checkbox"] {
                top: -5px;
            }

            %input-elements-oldie {
                height: auto;
                padding-bottom: 1px;
                padding-top: 2px;
            }

            @if $use-form-advanced {
                input[type="date"],
                input[type="datetime"],
                input[type="datetime-local"],
                input[type="month"],
                input[type="number"],
                input[type="password"],
                input[type="time"],
                input[type="week"],
                input[type="tel"],
                input[type="url"] {
                    @extend %input-elements-oldie;
                }
            }

            input[type="email"],
            input[type="search"],
            input[type="text"],
            select,
            textarea {
                @extend %input-elements-oldie;
            }

            button {
                padding-bottom: 1px;
                padding-top: 1px;
            }
        }
    }
}
