// TYPOGRAPHY
// --------------------------------------------------------------------
// QUOTES → http://html5doctor.com/blockquote-q-cite/
// --------------------------------------------------------------------
q {
    quotes: '“' '”' '‘' '’';
}

:lang(de) q {
    quotes: '„' '“' '‚' '‘';
}

// :lang(de) q {
//     quotes: '»' '«' '›' '‹';
// }


// HYPHENATION
// --------------------------------------------------------------------
p {
    @include hyphens(auto);

    // not for preformatted text (inline)
    code,
    samp,
    kbd {
        @include hyphens(none);
    }
}

// Base font size:     14px
// Ideal line length: 554px
html {
    font-size: 87.5%;
}
