// Typography -- ideal line length: 554px;
body { font-size: px-to-em(14px); }

h1 {
	font-size: px-to-em(24px,14px);
	line-height: px-to-em(42px,24px);
	margin: px-to-em(21px,24px) 0;
}

h2 {
	font-size: px-to-em(20px,14px);
	line-height: px-to-em(21px,20px);
	margin: px-to-em(21px,20px) 0;
}

h3 {
	font-size: px-to-em(18px,14px);
	line-height: px-to-em(21px,18px);
	margin: px-to-em(21px,18px) 0;
}

h4 {
	font-size: px-to-em(16px,14px);
	line-height: px-to-em(21px,16px);
	margin: px-to-em(21px,16px) 0;
}

h5,
h6 { font-size: 1em; }

h5,
h6,
blockquote,
ul,
ol,
dl,
p,
table {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
