// BASIC TYPOGRAPHY
// --------------------------------------------------------------------
html {
    font-size: 100%;
}

html,
button,
input,
select,
optgroup,
textarea {
    font-family: $primary-font;
}

body {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include x-rem(margin, 1 0);
}

h5,
h6 {
    @include x-rem(font-size, 1);
}

pre,
code,
samp,
kbd {
    @include x-rem(font-size, .875);
}


// QUOTES
// html5doctor.com/blockquote-q-cite/
// --------------------------------------------------------------------
q {
    quotes: '“' '”' '‘' '’';
}

:lang(de) q {
    quotes: '„' '“' '‚' '‘';
}

// :lang(de) q {
//     quotes: '»' '«' '›' '‹';
// }


// HYPHENATION
// --------------------------------------------------------------------
p {
    @include x-hyphens(auto);

    // not for preformatted text (inline)
    code,
    samp,
    kbd {
        @include x-hyphens(none);
    }
}
