// TYPOGRAPHY
// --------------------------------------------------------------------
$primary-font:  $sans;
$type-height:   1.5;
$type-rhythm:   1;


// COLORS
// --------------------------------------------------------------------
