// BOOTSTRAP-STYLE GRID CLASSES (FLEXBOX-BASED)
// --------------------------------------------------------------------
@if $use-flex-grid {
    .container {
        @include flex-grid-container;

        @media (min-width: $sm) {
            max-width: $grid-container-flex-sm;
        }

        @media (min-width: $md) {
            max-width: $grid-container-flex-md;
        }

        @media (min-width: $lg) {
            max-width: $grid-container-flex-lg;
        }

        @media (min-width: $xl) {
            max-width: $grid-container-flex-xl;
        }
    }

    .container-fluid {
        @include flex-grid-container;
    }

    .row {
        @include flex-grid-row;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
        @include flex-grid-box;
    }

    .col {
        @include flex-grid-column(0);
    }
    .col-auto {
        @include flex-grid-column(auto);
    }
    .col-1 {
        @include flex-grid-column(1);
    }
    .col-2 {
        @include flex-grid-column(2);
    }
    .col-3 {
        @include flex-grid-column(3);
    }
    .col-4 {
        @include flex-grid-column(4);
    }
    .col-5 {
        @include flex-grid-column(5);
    }
    .col-6 {
        @include flex-grid-column(6);
    }
    .col-7 {
        @include flex-grid-column(7);
    }
    .col-8 {
        @include flex-grid-column(8);
    }
    .col-9 {
        @include flex-grid-column(9);
    }
    .col-10 {
        @include flex-grid-column(10);
    }
    .col-11 {
        @include flex-grid-column(11);
    }
    .col-12 {
        @include flex-grid-column(12);
    }

    .order-first {
        order: -1;
    }
    .order-last {
        order: ($grid-columns + 1);
    }

    @for $i from 0 to ($grid-columns + 1) {
        .order-#{$i} {
            order: $i;
        }
    }

    .offset-0 {
        @include flex-grid-offset(0);
    }
    .offset-1 {
        @include flex-grid-offset(1);
    }
    .offset-2 {
        @include flex-grid-offset(2);
    }
    .offset-3 {
        @include flex-grid-offset(3);
    }
    .offset-4 {
        @include flex-grid-offset(4);
    }
    .offset-5 {
        @include flex-grid-offset(5);
    }
    .offset-6 {
        @include flex-grid-offset(6);
    }
    .offset-7 {
        @include flex-grid-offset(7);
    }
    .offset-8 {
        @include flex-grid-offset(8);
    }
    .offset-9 {
        @include flex-grid-offset(9);
    }
    .offset-10 {
        @include flex-grid-offset(10);
    }
    .offset-11 {
        @include flex-grid-offset(11);
    }

    @media (min-width: $sm) {
        .col-sm {
            @include flex-grid-column(0);
        }
        .col-sm-auto {
            @include flex-grid-column(auto);
        }
        .col-sm-1 {
            @include flex-grid-column(1);
        }
        .col-sm-2 {
            @include flex-grid-column(2);
        }
        .col-sm-3 {
            @include flex-grid-column(3);
        }
        .col-sm-4 {
            @include flex-grid-column(4);
        }
        .col-sm-5 {
            @include flex-grid-column(5);
        }
        .col-sm-6 {
            @include flex-grid-column(6);
        }
        .col-sm-7 {
            @include flex-grid-column(7);
        }
        .col-sm-8 {
            @include flex-grid-column(8);
        }
        .col-sm-9 {
            @include flex-grid-column(9);
        }
        .col-sm-10 {
            @include flex-grid-column(10);
        }
        .col-sm-11 {
            @include flex-grid-column(11);
        }
        .col-sm-12 {
            @include flex-grid-column(12);
        }

        .order-sm-first {
            order: -1;
        }
        .order-sm-last {
            order: ($grid-columns + 1);
        }

        @for $i from 0 to ($grid-columns + 1) {
            .order-sm-#{$i} {
                order: $i;
            }
        }

        .offset-sm-0 {
            @include flex-grid-offset(0);
        }
        .offset-sm-1 {
            @include flex-grid-offset(1);
        }
        .offset-sm-2 {
            @include flex-grid-offset(2);
        }
        .offset-sm-3 {
            @include flex-grid-offset(3);
        }
        .offset-sm-4 {
            @include flex-grid-offset(4);
        }
        .offset-sm-5 {
            @include flex-grid-offset(5);
        }
        .offset-sm-6 {
            @include flex-grid-offset(6);
        }
        .offset-sm-7 {
            @include flex-grid-offset(7);
        }
        .offset-sm-8 {
            @include flex-grid-offset(8);
        }
        .offset-sm-9 {
            @include flex-grid-offset(9);
        }
        .offset-sm-10 {
            @include flex-grid-offset(10);
        }
        .offset-sm-11 {
            @include flex-grid-offset(11);
        }
    }

    @media (min-width: $md) {
        .col-md {
            @include flex-grid-column(0);
        }
        .col-md-auto {
            @include flex-grid-column(auto);
        }
        .col-md-1 {
            @include flex-grid-column(1);
        }
        .col-md-2 {
            @include flex-grid-column(2);
        }
        .col-md-3 {
            @include flex-grid-column(3);
        }
        .col-md-4 {
            @include flex-grid-column(4);
        }
        .col-md-5 {
            @include flex-grid-column(5);
        }
        .col-md-6 {
            @include flex-grid-column(6);
        }
        .col-md-7 {
            @include flex-grid-column(7);
        }
        .col-md-8 {
            @include flex-grid-column(8);
        }
        .col-md-9 {
            @include flex-grid-column(9);
        }
        .col-md-10 {
            @include flex-grid-column(10);
        }
        .col-md-11 {
            @include flex-grid-column(11);
        }
        .col-md-12 {
            @include flex-grid-column(12);
        }

        .order-md-first {
            order: -1;
        }
        .order-md-last {
            order: ($grid-columns + 1);
        }

        @for $i from 0 to ($grid-columns + 1) {
            .order-md-#{$i} {
                order: $i;
            }
        }

        .offset-md-0 {
            @include flex-grid-offset(0);
        }
        .offset-md-1 {
            @include flex-grid-offset(1);
        }
        .offset-md-2 {
            @include flex-grid-offset(2);
        }
        .offset-md-3 {
            @include flex-grid-offset(3);
        }
        .offset-md-4 {
            @include flex-grid-offset(4);
        }
        .offset-md-5 {
            @include flex-grid-offset(5);
        }
        .offset-md-6 {
            @include flex-grid-offset(6);
        }
        .offset-md-7 {
            @include flex-grid-offset(7);
        }
        .offset-md-8 {
            @include flex-grid-offset(8);
        }
        .offset-md-9 {
            @include flex-grid-offset(9);
        }
        .offset-md-10 {
            @include flex-grid-offset(10);
        }
        .offset-md-11 {
            @include flex-grid-offset(11);
        }
    }

    @media (min-width: $lg) {
        .col-lg {
            @include flex-grid-column(0);
        }
        .col-lg-auto {
            @include flex-grid-column(auto);
        }
        .col-lg-1 {
            @include flex-grid-column(1);
        }
        .col-lg-2 {
            @include flex-grid-column(2);
        }
        .col-lg-3 {
            @include flex-grid-column(3);
        }
        .col-lg-4 {
            @include flex-grid-column(4);
        }
        .col-lg-5 {
            @include flex-grid-column(5);
        }
        .col-lg-6 {
            @include flex-grid-column(6);
        }
        .col-lg-7 {
            @include flex-grid-column(7);
        }
        .col-lg-8 {
            @include flex-grid-column(8);
        }
        .col-lg-9 {
            @include flex-grid-column(9);
        }
        .col-lg-10 {
            @include flex-grid-column(10);
        }
        .col-lg-11 {
            @include flex-grid-column(11);
        }
        .col-lg-12 {
            @include flex-grid-column(12);
        }

        .order-lg-first {
            order: -1;
        }
        .order-lg-last {
            order: ($grid-columns + 1);
        }

        @for $i from 0 to ($grid-columns + 1) {
            .order-lg-#{$i} {
                order: $i;
            }
        }

        .offset-lg-0 {
            @include flex-grid-offset(0);
        }
        .offset-lg-1 {
            @include flex-grid-offset(1);
        }
        .offset-lg-2 {
            @include flex-grid-offset(2);
        }
        .offset-lg-3 {
            @include flex-grid-offset(3);
        }
        .offset-lg-4 {
            @include flex-grid-offset(4);
        }
        .offset-lg-5 {
            @include flex-grid-offset(5);
        }
        .offset-lg-6 {
            @include flex-grid-offset(6);
        }
        .offset-lg-7 {
            @include flex-grid-offset(7);
        }
        .offset-lg-8 {
            @include flex-grid-offset(8);
        }
        .offset-lg-9 {
            @include flex-grid-offset(9);
        }
        .offset-lg-10 {
            @include flex-grid-offset(10);
        }
        .offset-lg-11 {
            @include flex-grid-offset(11);
        }
    }

    @media (min-width: $xl) {
        .col-xl {
            @include flex-grid-column(0);
        }
        .col-xl-auto {
            @include flex-grid-column(auto);
        }
        .col-xl-1 {
            @include flex-grid-column(1);
        }
        .col-xl-2 {
            @include flex-grid-column(2);
        }
        .col-xl-3 {
            @include flex-grid-column(3);
        }
        .col-xl-4 {
            @include flex-grid-column(4);
        }
        .col-xl-5 {
            @include flex-grid-column(5);
        }
        .col-xl-6 {
            @include flex-grid-column(6);
        }
        .col-xl-7 {
            @include flex-grid-column(7);
        }
        .col-xl-8 {
            @include flex-grid-column(8);
        }
        .col-xl-9 {
            @include flex-grid-column(9);
        }
        .col-xl-10 {
            @include flex-grid-column(10);
        }
        .col-xl-11 {
            @include flex-grid-column(11);
        }
        .col-xl-12 {
            @include flex-grid-column(12);
        }

        .order-xl-first {
            order: -1;
        }
        .order-xl-last {
            order: ($grid-columns + 1);
        }

        @for $i from 0 to ($grid-columns + 1) {
            .order-xl-#{$i} {
                order: $i;
            }
        }

        .offset-xl-0 {
            @include flex-grid-offset(0);
        }
        .offset-xl-1 {
            @include flex-grid-offset(1);
        }
        .offset-xl-2 {
            @include flex-grid-offset(2);
        }
        .offset-xl-3 {
            @include flex-grid-offset(3);
        }
        .offset-xl-4 {
            @include flex-grid-offset(4);
        }
        .offset-xl-5 {
            @include flex-grid-offset(5);
        }
        .offset-xl-6 {
            @include flex-grid-offset(6);
        }
        .offset-xl-7 {
            @include flex-grid-offset(7);
        }
        .offset-xl-8 {
            @include flex-grid-offset(8);
        }
        .offset-xl-9 {
            @include flex-grid-offset(9);
        }
        .offset-xl-10 {
            @include flex-grid-offset(10);
        }
        .offset-xl-11 {
            @include flex-grid-offset(11);
        }
    }
}
