// DEFAULTS
// --------------------------------------------------------------------
$input-bg:              $off-white;
$input-fg:              $off-black;
$input-focus:           #06f;
$input-placeholder:     $greyed-out;

$input-border-radius:   0;
$input-border-type:     1px solid;
$input-border-color:    #c1c1c1 #c1c1c1 #e1e1e1;


// NORMALIZE FORM ELEMENTS (borrowed heavily from formalize.me)
// --------------------------------------------------------------------
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    &:focus {
        box-shadow: 0 0 5px 0 $input-focus;
        z-index: 1; // Opera
    }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
    &:focus,
    &:active {
        box-shadow: none;
    }
}

::-webkit-input-placeholder {
    color: $input-placeholder;
}

// Separate rule for Firefox. Cannot stack with WebKit's.
:-moz-placeholder,
::-moz-placeholder {
    color: $input-placeholder;
}

// Separate rule for IE, too. Cannot stack with WebKit's.
:-ms-input-placeholder {
    color: $input-placeholder;
}

:invalid {
    // Suppress red glow that Firefox adds to form fields
    // by default, even when user is still typing.
    box-shadow: none;
}

optgroup {
    background: $input-bg;
    color: $input-fg;
    font-style: normal;
}

// Not sure if this is still needed
// input[type="radio"],
// input[type="checkbox"] {
//     position: relative;
//     vertical-align: top;
//     top: 5px;
// }


// STYLE FORM ELEMENTS (borrowed heavily from formalize.me)
// --------------------------------------------------------------------
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="week"],
textarea,
select,
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    -webkit-appearance: none;
    background-clip: padding-box;
    background-color: $input-bg;
    border: $input-border-type;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    @include x-box-sizing(border-box);
    color: $input-fg;
    height: 1.8em;
    outline: 0;
    padding: 2px 3px;
    text-align: left;

    &[disabled] {
        background-color: $lite-grey;
    }
}

// Override these
textarea,
select[size],
select[multiple] {
    height: auto;
}

// WebKit select appearance
@media (-webkit-min-device-pixel-ratio: 0) {
    select {
        background-image: url('data:image/gif;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==');
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 20px;
    }

    select[size],
    select[multiple] {
        background-image: none;
        padding: 0;
    }
}

// Textareas
textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
}


// FORM BUTTONS
// --------------------------------------------------------------------
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include gradient-button();
}


// DISABLED FORM ELEMENTS
// --------------------------------------------------------------------
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
    box-shadow: none;
    color: $greyed-out;
    cursor: default;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
