// BASIC MESSAGE
// --------------------------------------------------------------------
%message {
    border: 1px solid;
    border-radius: 4px;
    @include x-rem(font-size, .8125);
    @include x-rem(margin, 1 0);
    @include x-rem(padding, .5);

    p {
        margin: 0;
    }
}


// TYPES OF MESSAGES
// --------------------------------------------------------------------
.msg-warning {
    @extend %message;
    background: #f2dede;
    border-color: #eed3d7;
    color: #b94a2b;
}

.msg-success {
    @extend %message;
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.msg-notice {
    @extend %message;
    background: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.msg-question {
    @extend %message;
    background: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853;
}
