// MESSAGES
// --------------------------------------------------------------------
// Defaults
$warning-bg:    #f2dede !default;
$warning-bc:    #eed3d7 !default;
$warning-fg:    #b94a2b !default;
$success-bg:    #dff0d8 !default;
$success-bc:    #d6e9c6 !default;
$success-fg:    #468847 !default;
$notice-bg:     #d9edf7 !default;
$notice-bc:     #bce8f1 !default;
$notice-fg:     #3a87ad !default;
$question-bg:   #fcf8e3 !default;
$question-bc:   #fbeed5 !default;
$question-fg:   #c09853 !default;
$msg-font-size: .8125 !default;
$msg-padding:   .5 !default;


// Basic message
// --------------------------------------------------------------------
%message {
    border: 1px solid;
    border-radius: 4px;
    @include x-rem(font-size, $msg-font-size);
    @include x-rem(margin, $type-rhythm 0);
    @include x-rem(padding, $msg-padding);

    p {
        margin: 0;
    }
}


// Types of messages
// --------------------------------------------------------------------
@if $use-msg-classes {
    .msg {
        &-warning {
            @extend %message;

            background: $warning-bg;
            border-color: $warning-bc;
            color: $warning-fg;
        }

        &-success {
            @extend %message;

            background: $success-bg;
            border-color: $success-bc;
            color: $success-fg;
        }

        &-notice {
            @extend %message;

            background: $notice-bg;
            border-color: $notice-bc;
            color: $notice-fg;
        }

        &-question {
            @extend %message;

            background: $question-bg;
            border-color: $question-bc;
            color: $question-fg;
        }
    }
}
