// NAVIGATION STYLES
// --------------------------------------------------------------------
// Defaults
$nav-breakpoint:    768px !default; // Breakpoint for smallscreen nav

// General nav styles
nav ul,
nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
