// FLOAT-BASED GRID SYSTEM
// --------------------------------------------------------------------
@mixin float-grid-container {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
}

@mixin float-grid-row {
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
}

@mixin float-grid-box {
    float: left;
    min-height: 1px;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    position: relative;
}

@mixin float-grid-column($columns: $grid-columns) {
    width: 100% * ($columns / $grid-columns);
}

@mixin float-grid-pull($columns: $grid-columns) {
    right: 100% * ($columns / $grid-columns);
}

@mixin float-grid-push($columns: $grid-columns) {
    left: 100% * ($columns / $grid-columns);
}

@mixin float-grid-offset($columns: $grid-columns) {
    margin-left: 100% * ($columns / $grid-columns);
}
