// SETTINGS
// --------------------------------------------------------------------
// Helper classes
$use-extra-classes: false !default;
$use-cms-classes: false !default;

// SVG sprites
$use-svg-sprites: true !default;

// Grid systems
$use-flex-grid: false !default;
$use-css-grid: false !default;

// Forms
$use-form-styles: false !default;
$use-form-advanced: false !default;

// Messages
$use-msg-basic: false !default;
$use-msg-extra: false !default;

// Breakpoints
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xx: 1600px !default;

// Typography
$type-height: 1.5 !default;
$type-rhythm: 1rem !default;

$type-headings: (
    h1: 2,
    h2: 1.5,
    h3: 1.25,
    h4: 1.125,
    h5: 1,
    h6: 1,
) !default;

// bitsofco.de/the-new-system-font-stack/
$default-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;

$default-serif: Georgia, Times, 'Times New Roman', serif !default;

$default-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace !default;

// clrs.cc
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$off-white: #fcfcfc;
$lite-grey: #eee;
$silver: #ddd;
$grey: #aaa;
$greyed-out: #888;
$off-black: #222;
$black: #111;

// Grids
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-container-flex-sm: 540px !default;
$grid-container-flex-md: 720px !default;
$grid-container-flex-lg: 960px !default;
$grid-container-flex-xl: 1140px !default;

$grid-container-sm: 540px !default;
$grid-container-md: 720px !default;
$grid-container-lg: 960px !default;
$grid-container-xl: 1140px !default;
