{{> doctype-de}}
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{desc}}">
{{> head}}
</head>
<body>
{{> oldie-de}}
{{> jshint-de}}
{{> body}}
{{> scripts}}
</body>
</html>
